<div class="join-block-wrapper">
  {% if is_anonymous %}
    <a href="{{ path('user.login') }}"
       class="btn-join-now use-ajax text-decoration-none"
       data-dialog-type="modal"
       data-dialog-options="{&quot;dialogClass&quot;:&quot;cpd-modal&quot;,&quot;width&quot;:900,&quot;title&quot;: &quot;Welcome Back&quot;}">
      {{ "Join now" | t }}</a>
  {% else %}
    <a href="{{ path('user.logout') }}"
      class="btn-user-logout">
      {{ "Log out" | t }}</a>
  {% endif %}
</div>
