.block--bundle--companies,
.block-views-blockhomepage-companies-block-1 {
  h2 {
    text-align: center;
  }
}
.field--name-field-companies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: 992px) {
    justify-content: center;
  }

  & > .field__item {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-self: center;
    flex: 0 0 50%;
    max-width: 50%;

    margin-top: 10px;
    margin-bottom: 10px;

    img {
      filter: grayscale(100%);
      opacity: .4;
      transition: opacity 300ms;
      margin: auto;

      &:hover {
        filter: unset;
        opacity: 1;
      }
    }

    @media (min-width: 992px) {
      -webkit-box-flex: 0;
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.block-views-blockhomepage-companies-block-1 {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      justify-content: center;
    }

    & > .views-row {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      align-self: center;
      flex: 0 0 50%;
      max-width: 50%;

      margin-top: 10px;
      margin-bottom: 10px;

      img {
        filter: grayscale(100%);
        opacity: .4;
        transition: opacity 300ms;
        margin: auto;

        &:hover {
          filter: unset;
          opacity: 1;
        }
      }

      @media (min-width: 992px) {
        -webkit-box-flex: 0;
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
