/**
 * Footer styles.
 */
.footer {
  position: relative;
  display: block;
  overflow: hidden;
  height: auto;
  background: #161616;
  font-size: 13px;

  .context-groups-footer_columns {
    padding-top: 70px;
    padding-bottom: 70px;

    .block {
      margin-bottom: 10px;
      color: $white;
    }
    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $brand-primary;
      }
    }
    p {
      color: #939393;
      text-decoration: none;
      font-size: 16px;
    }
    h2 {
      font-weight: bolder;
      padding-bottom: 10px;
      margin-bottom: 8px;
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 0;
      padding-top: 0;
    }

    .menu,
    .item-list ul {
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 16px;
      list-style-type: none;
      li {
        border-bottom: 2px solid #282828;
        padding: 6px 0;
        width: 200px;
        &.last,
        &:last-child {
          border-bottom: none;
        }
        a {
          padding-left: 0;
          color: #939393;
          text-decoration: none;
          font-size: 14px;
          &:before {
            content: "\f105";
            display: inline-block;
            font-family: FontAwesome;
            margin-right: 10px;
            color: #fff;
          }
          &:hover {
            text-decoration: underline;
            color: #fff;
            &:before {
              color: #939393;
            }
          }
        }
      }
    }
    .text-with-logo {
      img {
        margin-bottom: 20px;
        margin-top: -8px;
      }
    }

    .social_links {
      .field--name-body {
        padding-top: 15px;
        a {
          color: #fff;
          border: none;
          background-color: #8c8c8c;
          padding: 10px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          line-height: 15px;
          font-size: 15px;
          margin-right: 4px;

          &:hover {
            background-color: #3e7de4;
            color: #fff;
            cursor: pointer;
          }
          i,
          svg {

          }
        }
      }
    }
  }
  .context-groups-footer_bottom {
    border-top: 1px solid #282828;
    text-align: center;
    padding-top: 35px;
    background-color: #000;
    padding-bottom: 20px;

    .license {
      .field--name-body {
        color: #fff;
        font-size: 13px;
        a {
          text-decoration: underline;
          color: #eee;
          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    ul.menu {
      line-height: 1em;
      text-align: center;
      @include breakpoint(no_mobile) {
        text-align: right;
      }

      li {
        display: inline-block;
        letter-spacing: 1px;

        a {
          @include anchor_color();
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 10px;
          padding: 0;

          &:after {
            content: "/";
            margin-left: 10px;
            margin-right: 7px;
          }
          &:hover {
            &:after {
              color: $white;
            }
          }
        }
        &:last-child {
          a:after {
            content: none;
          }
        }
      }
    }
    .block-socialicons {
      text-align: center;
      margin-top: 10px;

      ul {
        li {
          padding: 2px 3px;

          a {
            display: inline-block;
            border-radius: 2px;
            width: 25px;
            height: 25px;
            border: 0px;
            background: rgba(255, 255, 255, 0.1);

            .fa {
              @include opacity(0.7);
            }
          }
        }
      }
    }
    &.row {
      margin-left: 0;
    }
  }
}
