/**
 * Navbar styling.
 */

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
   // margin-top: 0;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}
.navbar.container {
  @media #{$tablet} {
    max-width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    max-width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    max-width: (($container-lg - $grid-gutter-width));
  }
}

#navbar {
  min-height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  @include transition(all 0.3s ease);

  .navbar-toggle {
    margin: 0;
    padding: 5px 10px;
  }
  .navbar-collapse {
    ul {
      li {
        a {
          font-family: $font-josefin;
          font-size: 16px;
          font-weight: 600;
        }
        a.is-active{
          color: $pm-dark-blue;
        }
      }
    }
    @include breakpoint(mobile) {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 100%;
      background: rgba(17, 17, 17, 0.96);
      text-transform: uppercase;
      font-size: 12px;

      .region-navigation-collapsible nav {
        float: none;

        ul {
          li {
            a {
              display: block;
              padding: 15px 3%;
              border-bottom: 1px solid rgba(255, 255, 255, 0.07);
            }
          }
        }
      }
    }
  }
  .logo {
    margin-right: -($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    margin-top: 0;
    margin-bottom: 0;
    @media #{$grid-breakpoint} {
      margin-right: 0;
      padding-left: 0;
    }

    img {
      width: 120px;
    }
    @include breakpoint(mobile) {
      img {
        width: 75px;
      }
    }
  }
  &.navbar-scrolled-top {
    //background-color: rgba(37, 37, 37, 0.95);
    background-color: $white;
    //min-height: 42px;
    //padding-top: 7px;
    //padding-bottom: 7px;
    @include breakpoint(no_mobile) {
      //min-height: 52px;
    }

    .navbar-nav{
      li{
        a{
          //color: #3e7de4;
          color: $sc-black;

          &:hover{
            color: $pm-dark-blue;
          }
        }
      }
    }

    .logo {
      background: $pm-dark-blue;
    }

    .navbar-toggle .icon-bar{
      background: $pm-dark-blue;
    }
  }
  @media #{$mobile} {
    min-height: 60px;
  }
}

// Main menu
.region-navigation-collapsible nav {
  float: right;
  @include breakpoint(no_mobile) {
    margin-top: 5px;
  }
  ul {
    li {
      a {
        @include transition(color 0.3s ease);
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;

        &:after {
          @include transition(all 0.2s ease);
          position: absolute;
          bottom: 5px;
          left: 50%;
          display: block;
          overflow: hidden;
          margin-left: 0px;
          width: 0px;
          height: 0px;
          background: $white;
          //content: '-';
          text-indent: -999em;
          border-radius: 7px;
        }
        &:hover {
          &:after {
            bottom: 0;
            height: 2px;
            width: 40px;
            margin-left: -20px;
            margin-top: -2px;
          }
        }
      }
    }
  }
}

// Social icons
.block-socialicons {
  text-align: right;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 2px 5px;
      @include transition(.3s);

      &:hover {
        transform: scale(1.1);
      }
      a {
        color: $white;
        font-size: 16px;
      }
    }
  }
}

