/**
 * Navbar styling.
 */

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
   // margin-top: 0;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}
.navbar.container {
  @media #{$tablet} {
    max-width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    max-width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    max-width: (($container-lg - $grid-gutter-width));
  }
}

header{
  z-index: 100!important;
}

#navbar {
  min-height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  @include transition(all 0.3s ease);

  .navbar-toggle {
    margin: 0;
    padding: 5px 10px;
  }
  .navbar-collapse {
    ul {
      li {
        a {
          font-family: $font-josefin;
          font-size: 16px;
          font-weight: 600;
        }
        a.is-active{
          color: $dark-blue;
        }
      }
    }
    @include breakpoint(mobile) {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 100%;
      background: $white;
      text-transform: uppercase;
      font-size: 12px;

      .region-navigation-collapsible {
        display: block;

        nav {
          float: none;
          ul {
            li {
              a {
                display: block;
                padding: 15px 3%;
                color: black;
                border-bottom: 0.3px solid #a9a9a9;
                & .is-active {
                  color: $dark-blue;
                }
              }

              &:last-child {
                a {
                  border-bottom: 3px solid #a9a9a9;
                }
              }
            }
          }
        }

        .language-switcher-language-url {
          .links {
            padding-left: 0;
            margin-bottom: 0;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
            li {
              list-style: none;
              border-right: 3px solid #000;
              line-height: 150%;
              padding-right: 5px;
              padding-left: 5px;
              &:last-child {
                border-right: 0;
              }
            }
          }
        }
      }
    }
  }
  .logo {
    margin-right: -($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    margin-top: 0;
    margin-bottom: 0;
    @media #{$grid-breakpoint} {
      margin-right: 0;
      padding-left: 0;
    }

    img {
      width: 120px;
    }
    @include breakpoint(mobile) {
      img {
        width: 75px;
      }
    }
  }
  &.navbar-scrolled-top {
    background-color: $white;

    .navbar-nav{
      li{
        a{
          //color: #3e7de4;
          color: $black;

          &:hover{
            color: $dark-blue;
          }

          @include breakpoint(mobile) {
            color: black;
          }
        }
      }
    }

    .logo {
      img {
        filter: brightness(0) saturate(100%) invert(7%) sepia(7%) saturate(10%) hue-rotate(320deg) brightness(91%) contrast(84%);
      }
    }

    .navbar-toggle .icon-bar{
      background: $dark-blue;
    }
  }
  @media #{$mobile} {
    background: $white;
    min-height: 60px;

    .logo {
      img {
        filter: brightness(0) saturate(100%) invert(7%) sepia(7%) saturate(10%) hue-rotate(320deg) brightness(91%) contrast(84%);
      }
    }

    .navbar-toggle .icon-bar{
      background: $dark-blue;
    }
  }
}

// Main menu
.region-navigation-collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    @include breakpoint(no_mobile) {
      margin-top: 5px;
      order: 2;
    }
    ul {
      @media #{$mobile} {
        text-align: center;
      }
      li {
        a {
          @include transition(color 0.3s ease);
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 1px;

          &:after {
            @include transition(all 0.2s ease);
            position: absolute;
            bottom: 5px;
            left: 50%;
            display: block;
            overflow: hidden;
            margin-left: 0px;
            width: 0px;
            height: 0px;
            background: $white;
            //content: '-';
            text-indent: -999em;
            border-radius: 7px;
          }

          &:hover {
            &:after {
              bottom: 0;
              height: 2px;
              width: 40px;
              margin-left: -20px;
              margin-top: -2px;
            }
          }
        }
      }
    }
  }
  .language-switcher-language-url {
    @include breakpoint(no_mobile) {
      order: 1;

    }
    & > .links {
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      li {
        list-style: none;
        border-right: 3px solid #000;
        line-height: 150%;
        padding-right: 5px;
        padding-left: 5px;
        &:last-child {
          border-right: 0;
        }
      }

    }
  }
}

// Social icons
.block-socialicons {
  text-align: right;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 2px 5px;
      @include transition(.3s);

      &:hover {
        transform: scale(1.1);
      }
      a {
        color: $white;
        font-size: 16px;
      }
    }
  }
}

