body:not(.path-frontpage) {
  .main-container {
    padding-top: 100px;
  }

  #navbar {
    background: $white;

    li {
      a {
        color: $black;

        &:hover {
          color: $light-blue;
        }
      }
    }

    .logo {
      img {
        filter: brightness(0) saturate(100%) invert(7%) sepia(7%) saturate(10%) hue-rotate(320deg) brightness(91%) contrast(84%);
      }
    }

    .navbar-toggle{
      .icon-bar{
        background: $dark-blue;
      }
    }
  }

  #navbar.navbar-scrolled-top {
    background: $white;
  }

  .content-and-sidebars-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 0 70px;
    box-sizing: content-box;
  }

  @media #{$tablet} {
    .content-and-sidebars-container {
      padding: 70px 3%;
    }
  }
}

body.page-node-type-news:not(.path-frontpage),
body.page-node-type-event:not(.path-frontpage) {
  .main-content {
    background: #f7f7f7;
    & > .content-and-sidebars-container > div > .col-sm-9 {
      background: #fff;
      .breadcrumb {
        background: none;
        margin-top: 10px;
      }
      .tabs {
        margin-bottom: 20px;
      }
    }
  }
  .main-container {
    padding-top: 0;
  }
  #navbar {
    background: transparent;
    &.navbar-scrolled-top {
      background: $white;
    }
  }
}

.region-sidebar-second {
  h2 {
    margin-top: -5px;
    margin-bottom: 20px;
    padding: 0 0 7px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
  }
}
