body.path-blog {
  .main-container {
    padding-top: 0;
    background-color: $brand-bg;
  }

  .region-header,
  .region-content {
    margin: 0 -15px;
  }

  .region-header {
    .contextual {
      top: 85px;
    }

    .field--name-field-image {
      background-color: rgb(5, 24, 49);
      overflow: hidden;
    }

    img {
      opacity: .5;
      object-fit: cover;
      height: 550px;
      width: 100%;
    }
  }

  .title-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 250px;
    text-align: center;
    padding: 0 3%;
    max-width: 1200px;

    h2 {
      padding-top: 0;
      color: $white;
      text-transform: uppercase;
      font-size: 38px;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: -1px;
      display: inline-block;
      margin: 0;

      &:after {
        content: "";
        display: block;
        width: 62%;
        height: 1px;
        background-color: #ffffff;
        margin: auto;
        margin-top: 10px;
      }
    }

    .field--name-field-subtitle {
      display: block;
      color: $white;
      margin: auto;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 7px;
      margin-top: 1px;
    }
  }

  #edit-actions {
    display: none;
  }

  .view-filters,
   .form-group {
     margin: 0;
   }

  .views-exposed-form {
    background-color: $gray-base;

    .form--inline {
      margin: 0 auto;
      padding: 0 3%;
      max-width: 1200px;
      box-sizing: content-box;
    }

    .form-item {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
    }

    .bef-links {
      display: inline-block;
      margin-left: 0;
      padding: 0;
      max-width: 90%;
      cursor: default;

      & > div {
        display: inline;
        text-transform: capitalize;
        font-size: 12px;
        cursor: pointer;
      }

      a {
        @include transition(color 0.2s ease);
        margin: auto 8px;
        padding: 3px 0;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        cursor: pointer;
      }
    }

    .bef-link-active a {
      border-bottom: 2px solid $brand-primary;
    }
  }

  .view-content {
    padding: 20px 0;
    //padding: 20px 3%;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: content-box;
  }

  .post-content {
    padding: 4%;
    background-color: $white;
    margin-bottom: 45px;
  }

  .field--name-dynamic-token-fieldnode-post-date-custom-format- {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 17px;
    text-transform: uppercase;
    color: $gray-light;
  }

  .field--name-node-title {
    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.3;
    }

    a {
      color: inherit;
    }
  }

  .field--name-body {
    font-size: 13px;
    line-height: 1.7;
  }

  .field--name-node-link a {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 4px 0;
    line-height: 1em;
    border-bottom: 1px solid $btn-default-color;
    color: $btn-default-color;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;

    &:after {
      content: ">";
      position: relative;
      top: 0px;
      display: inline-block;
      margin-left: 3px;
      font-weight: normal;
      font-size: 12px;
    }
  }

  .field--name-field-blog-category {
    text-align: right;
    line-height: 17px;
    letter-spacing: 2px;
    color: $gray-light;
    font-size: 12px;
    text-transform: uppercase;

    .field--label,
    .field--items,
    .field--item {
      display: inline;
    }

    .field--label {
      font-weight: normal;
    }

    .comments-number {
      display: none;
    }
    
    a {
      color: inherit;
    }
  }

  @include breakpoint(tablet_and_desktop) {
    .view-content {
      padding: 70px 3%;
    }
  }

  @include breakpoint(laptop_and_desktop) {
    .title-wrapper {
      h2 {
        font-size: 58px;
      }

      .field--name-field-subtitle {
        font-size: 15px;
      }
    }
  }
}

