/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2017, 4:39:33 PM
    Author     : Developer
*/

/* ------- Content Slider -------- */
.view-hero-slide .view-content {
  position: relative;
  overflow: hidden;
  padding: 180px 5% 130px 5%;
  color: $white;
  
  .section-boxed {
    padding: 0 5%;
  }
  h2.cs-element {
    color: inherit;
  }
  .button {
    display: inline-block;
    a {
      @extend .btn;
      @extend .btn-primary;
      margin-top: 18px;
      margin-right: 21px;
      padding-right: 30px;
      padding-left: 30px;
      width: auto;
      text-transform: uppercase;
    }
    &.btn-alt {
      a {
        @extend .btn-info;
      }
    }
  }
  .cs-content-centered .button {
    a {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .arrows {
    position: absolute;
    top: 50%;
    margin-top: -10px;
  }
  .arrow-prev {
    left: 10px;
  }
  .arrow-next {
    right: 10px;
  }
  .col {
    margin-bottom: 0;
  }
}

.cs-small-title,
.cs-title {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.cs-title {
  padding-top: 0;
  padding-bottom: 0;
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.2em;
}
.cs-content-centered .cs-title:before {
  margin: auto;
}
.cs-loading {
  background: url("images/cs-loader-w.gif") no-repeat center;
  background-size: 20px 20px;
}
.cs-small-title {
  margin: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
}
ul.cs-slider-ul {
  position: relative;
  overflow: hidden;
  margin-left: 0;
  min-height: 320px;
  width: 100%;
  list-style: none;
  padding-left: 0;
}
.cs-slider-ul li {
  position: absolute;
  @include box-sizing(border-box);
  max-width: 100%;
  width: 100%;
}
.cs-slider-ul .two-columns {
  display: none;
}
#cs-navigation {
  position: absolute;
  bottom: 5px;
  display: none;
  margin: 0;
  padding-left: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  left: 0;
}
#cs-navigation li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 2px;
  width: 14px;
  height: 15px;
  cursor: pointer;
}
.cs-content-left,
.cs-content-right {
  @include opacity(0);
  position: relative;
  @include breakpoint(laptop_and_desktop) {
    padding-left: 0;
  }
}
.cs-content-right img {
  float: right;
}
.cs-content-centered {
  width: 100%;
  text-align: center;
}
.cs-content-centered.col {
  max-width: 80%;
  width: 100%;
}
.cs-layout-img-text .cs-content-right.col {
  margin-right: 0;
}
.cs-layout-img-text .cs-content-left.col {
  clear: left;
}
ul#cs-navigation li span {
  @include opacity(0.3);
  border-radius: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: $white;
  border: 2px solid $white;
}
#cs-navigation li.selected span {
  @include opacity(1);
  border: 2px solid $white;
  background-color: transparent;
}
.cs-arrows {
  margin-top: -30px;
  background-color: none;
}
.cs-arrows:hover {
  @include opacity(1);
  border-radius: 0;
  cursor: pointer;
}
.cs-prev-arrow {
  left: 0;
  background-position: left top;
}
.cs-thumbnail {
  position: absolute;
  height: 70px;
  width: 70px;
  max-width: none;
  @include opacity(0);
  transition: all 0.5s ease;
}
.cs-next-arrow .cs-thumbnail {
  left: -50px;
}
.cs-prev-arrow .cs-thumbnail {
  right: -50px;
  max-width: none;
}
.cs-next-arrow:hover .cs-thumbnail {
  @include opacity(1);
  left: -70px;
  max-width: none;
}
.cs-prev-arrow:hover .cs-thumbnail {
  @include opacity(1);
  right: -70px;
}
.full-bg-image {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  @include opacity(0.3);
}
.cs-content-centered {
  float: none;
  margin: 0 auto;
}
.cs-content-left,
.cs-content-right,
.cs-content-centered {
  @include opacity(1);
}
.cs-content-right {
  float: right;
}
.cs-element {
  @include opacity(0);
  position: relative;
}
.cs-element.cs-animate {
  @include transition(all 0.5s ease);
}
ul.cs-slider-ul {
  @include transition(height 1s ease);
  overflow: visible;
}
ul.cs-slider-ul li {
  display: none;
}
.view-hero-slide {
  @include transition(background-color 0.5s ease);
}
/* Nivo Slider */
.nivo-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  background: url("images/cs-loader.gif") no-repeat center center;
  background-size: 16px 16px;
}
.nivo-slider img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  max-width: none;
}
.nivo-main-image {
  position: relative !important;
  display: block !important;
  width: 100% !important;
}
/* If an image is wrapped in a link */
.nivo-slider a.nivo-imageLink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
  position: absolute;
  top: 0;
  z-index: 5;
  display: block;
  height: 100%;
}
.nivo-box {
  position: absolute;
  z-index: 5;
  display: block;
  overflow: hidden;
}
.nivo-box img {
  display: block;
}
/* Caption styles */
.nivo-caption {
  @include box-sizing(border-box);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 8;
  display: none;
  overflow: hidden;
  padding: 5px 10px;
  width: 100%;
  color: $white;
}
.nivo-caption p {
  margin: 0;
  padding: 5px;
}
.nivo-caption a {
  display: inline !important;
}
.nivo-html-caption {
  display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  position: absolute;
  top: 50%;
  z-index: 9;
  cursor: pointer;
}
.nivo-prevNav {
  left: 0;
  text-indent: -3px;
}
.nivo-nextNav {
  right: 0;
  text-indent: 3px;
}
.rp-header .nivo-nextNav {
  right: 5px;
}
.rp-header .nivo-prevNav {
  left: 5px;
}
.post-gallery .nivo-prevNav {
  left: 5px;
}
.post-gallery .nivo-nextNav {
  right: 5px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
  position: absolute;
  bottom: 10px;
  z-index: 100;
  padding: 15px 0;
  padding: 0;
  width: 100%;
  text-align: center;
  line-height: 10px;
}
.nivo-controlNav a {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  border-radius: 50px;
  @include opacity(0.5);
  top: 50%;
  display: inline-block;
  margin: 0 3px;
  width: 7px;
  height: 7px;
  background: $white;
  border: 2px solid $white;
  list-style: none;
  vertical-align: middle;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.nivo-controlNav a.active {
  @include opacity(1);
  border: 2px solid $white;
  background: transparent;
  font-weight: bold;
}
/* Nivo Custom */
#content-container .nivoSlider {
  height: auto !important;
  background-image: url(images/cs-loader.gif);
}
.post-gallery .nivo-nextNav,
.post-gallery .nivo-prevNav {
  @include scale(0.8);
}
.nivo-nextNav:after,
.nivo-prevNav:a {
  @include transition(all 0.15s ease);
  @include opacity(0);
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 35px;
  height: 35px;
  border: 2px red solid;
  border-radius: 100px;
  content: "";
}
.nivo-nextNav:hover:after,
.nivo-prevNav:hover:after {
  @include scale(1.35);
  @include opacity(1);
}
.nivo-nextNav:active:after,
.nivo-prevNav:active:after {
  @include scale(1.35);
  @include opacity(1);
}
.nivo-nextNav:hover,
.nivo-prevNav:hover {
  @include opacity(0.8);
  color: $white;
}
.nivo-caption {
  margin: 3%;
  padding: 9px 14px;
  width: auto;
  height: auto;
  border: 2px solid $white;
  background-color: rgba(0, 0, 0, 0.07);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.3em;
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
}
.nivo-caption p {
  padding-left: 19px;
  font-size: 14px;
}
.post-gallery .nivo-caption {
  border: 0px;
  text-transform: none;
  letter-spacing: normal;
  font-size: 13px;
}
#nivo-controlNav-holder {
  display: block;
  width: 100%;
  height: 50px;
}
.nivo-wrapper {
  position: relative;
}
#slider-container .nivo-wrapper {
  min-height: 400px;
  background: url('images/cs-loader-w.gif') no-repeat center center;
  background-size: 15px 15px;
}
/* Nivo slider in content */
.custom-page-content .nivo-content {
  margin: 0;
}
.cs-type-video.loading {
  background: url(images/cs-loader-w.gif) no-repeat center center;
  background-size: 15px 15px;
}
.cs-layout-video-text .cs-content-right.col {
  margin-right: 0;
}
.cs-layout-video-text .cs-content-left.col {
  clear: left;
}
.nivo-prevNav,
.nivo-nextNav,
.left-arrow,
.right-arrow,
.ps-left-arrow,
.ps-right-arrow,
.cs-next-arrow,
.cs-prev-arrow,
.ps-left-arrow,
.ps-right-arrow {
  @include transition(all 0.2s ease);
  line-height: 70px;
}
.nivo-prevNav:hover,
.nivo-nextNav:hover,
.left-arrow:hover,
.right-arrow:hover,
.ps-left-arrow:hover,
.ps-right-arrow:hover,
.cs-next-arrow:hover,
.cs-prev-arrow:hover,
.ps-left-arrow:hover,
.ps-right-arrow:hover {
  @include opacity(0.9);
}
.nivo-prevNav,
.left-arrow,
.cs-prev-arrow {
  text-indent: -5px;
}
/* animate the arrow on click */
.nivo-prevNav:active,
.left-arrow:active,
.cs-prev-arrow:active {
  text-indent: -12px;
}
.ps-left-arrow:active,
.ps-left-arrow:active {
  text-indent: -7px;
}
.ps-icon,
.ts-arrow {
  line-height: 30px;
}
.nivo-nextNav,
.right-arrow,
.ps-right-arrow,
.cs-next-arrow,
.ps-right-arrow {
  text-indent: 0px;
}
/* animate the arrow on click */
.nivo-nextNav:active,
.right-arrow:active,
.ps-right-arrow:active,
.cs-next-arrow:active,
.ps-right-arrow:active {
  text-indent: 3px;
}
.left-arrow,
.right-arrow,
.ps-left-arrow,
.ps-right-arrow,
.cs-arrows,
.nivo-nextNav,
.nivo-prevNav {
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 100;
  display: block;
  margin-top: -35px;
  width: 43px;
  height: 70px;
  color: $white;
  text-align: center;
  font-size: 35px;
  line-height: 70px;
  background-color: rgba(37, 37, 37, 0.8);
  cursor: pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 3px;
  background-clip: padding-box;
  @include opacity(0.9);
}
.left-arrow,
.ps-left-arrow,
.cs-prev-arrow,
.nivo-prevNav {
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.left-arrow:hover,
.right-arrow:hover,
.ps-left-arrow:hover,
.ps-right-arrow:hover,
.cs-arrows:hover,
.nivo-nextNav:hover,
.nivo-prevNav:hover {
  color: #252525;
}
.ps-left-arrow {
  left: 0;
  text-indent: -3px;
}
.ps-right-arrow {
  right: 0;
}
.left-arrow:hover,
.right-arrow:hover,
.ps-left-arrow:hover,
.ps-right-arrow:hover,
.cs-arrows:hover,
.nivo-nextNav:hover,
.nivo-prevNav:hover {
  background-color: #5bc3ff;
  @include opacity(1);
  cursor: pointer;
}
.pc-next,
.pc-prev {
  line-height: 45px;
}
.cs-prev-arrow {
  @include fontawsome-icn("\f104");
}
.cs-next-arrow {
  @include fontawsome-icn("\f105");
}

@media screen and (max-width: 1000px){
  #cs-navigation {
    visibility: hidden;
  }
  .item-list.container {
    width: 100%;
  }
  ul.cs-slider-ul {
    min-height: 150px;
  }
  .view-hero-slide .view-content {
    padding: 150px 0 110px 0;
  }
  .cs-element {
    font-size: 12px;
  }
  .cs-small-title {
    font-size: 15px;
  }
  .cs-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .cs-content {
    text-align: center;
  }
  .cs-arrows {
    @include scale(0.7);
    top: auto;
    right: 50%;
    bottom: 20px;
    margin-right: -41px;
    border-radius: 2px;
  }
  .cs-prev-arrow {
    left: 50%;
    margin-left: -41px;
  }
  .cs-thumbnail {
    display: none !important;
  }
  .cs-small-title {
    font-size: 13px;
  }
  .cs-title {
    font-size: 32px;
  }
  
}
