/**
 * Footer styles.
 */
.footer {
  position: relative;
  display: block;
  overflow: hidden;
  height: auto;
  background-color: $gray-base;
  font-size: 13px;
  
  .context-groups-footer_columns {
    margin-top: 50px;
    
    .block {
      margin-bottom: 10px;
      color: $white;
    }
    .block-title {
      margin-bottom: 10px;
      padding-top: 11px;
      color: $white;
      text-indent: 2px;
      text-transform: uppercase;
      letter-spacing: normal;
      font-weight: bold;
      font-size: 17px;
    }
  }
  .context-groups-footer_bottom {
    padding: 25px 0;
    width: 100%;
    height: auto;
    background-color: #1f1f1f;

    .copyright {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 10px;
      color: $gray-light;
      text-align: center;
      margin: 10px 0;
      @include breakpoint(no_mobile) {
        text-align: left;
        margin: 0;
      }
    }
    ul.menu {
      line-height: 1em;
      text-align: center;
      @include breakpoint(no_mobile) {
        text-align: right;
      }
      
      li {
        display: inline-block;
        letter-spacing: 1px;
        
        a {
          @include anchor_color();
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 10px;
          padding: 0;
          
          &:after {
            content: "/";
            margin-left: 10px;
            margin-right: 7px;
          }
          &:hover {
            &:after {
              color: $white;
            }
          }
        }
        &:last-child {
          a:after {
            content: none;
          }
        }
      }
    }
    .block-socialicons {
      text-align: center;
      margin-top: 10px;
      
      ul {
        li {
          padding: 2px 3px;
          
          a {
            display: inline-block;
            border-radius: 2px;
            width: 25px;
            height: 25px;
            border: 0px;
            background: rgba(255, 255, 255, 0.1);
            
            .fa {
              @include opacity(0.7);  
            }
          }
        }
      }
    }
  }
}
