.page-node-type-hero-slide {
  .main-container.container-fluid {
    padding-top: 0;
    > .row > .col-sm-12 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .region-header {
    .block-entity-viewnode {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    .contextual {
      top: 100px;
    }

    .bs-region--main {
      padding: 0;
    }
  }

  .page-header-container {
    height: 400px;
    overflow: hidden;
    float: none;
  }

  .content-and-sidebars-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px 15px;
    box-sizing: content-box;
  }

  .field--name-field-heroslide-image img {
    width: 100%;
  }

  .page-title-wrapper {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    max-width: 1200px;
    padding: 70px 3%;
    box-sizing: content-box;
    background: rgba(0,0,0,.3);
    padding: 15px;

    h2 {
      padding: 10px 0;
      padding-top: 0;
      color: $white;
      text-transform: uppercase;
      font-size: 58px;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: -1px;
      display: inline-block;
      margin-bottom: 0;

      &:after {
        content: "";
        display: block;
        width: 62%;
        height: 1px;
        background-color: #ffffff;
        margin: auto;
        margin-top: 10px;
      }
    }

    .field--name-body {
      display: block;
      color: $white;
      margin: auto;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 7px;
      margin-top: 1px;
    }
  }

  .field--name-field-heroslide-images {
    min-height: 400px;
    padding: 4%;
    background-color: $white;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);

    .field--item {
      margin-bottom: 10px;
      padding: 0;
      width: 100%;
      @media (min-width: $screen-sm) {
        width: 47%;
        margin-left: 2%;
      }
      @media (min-width: $screen-md) {
        width: 32%;
        margin-left: 1%;
      }

      overflow: hidden;
      @include transition(opacity 0.1s ease);
      @include transition-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));
      background-color: $gray-base;

      img {
        @include transition(all 0.4s ease);
        width: 100%;
      }
      @include pexeto-icn("\f704", $white, 30px) {
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        padding: 10px;
        margin-top: -30px;
        margin-left: -30px;
        line-height: 40px;
        text-align: center;
        background: $brand-primary;
        border-radius: 3px;
        @include scale(2);
        @include opacity(0);
        @include transition(all 0.3s ease);
        pointer-events: none;
        z-index: 15;
      }

      &:hover {
        cursor: pointer;

        img {
          @include scale(1.1);
          @include opacity(0.6);
        }
        @include pexeto-icn("\f704", $white, 30px) {
          @include scale(1.2);
          @include opacity(1);
        }
      }
    }
  }
}
