/**
 * Navbar styling.
 */
$mobile:          "screen and (max-width: #{$screen-xs-max})";
$tablet:          "screen and (min-width: #{$screen-sm-min})";
$normal:          "screen and (min-width: #{$screen-md-min})";
$wide:            "screen and (min-width: #{$screen-lg-min})";
$grid-breakpoint: "screen and (min-width: #{$grid-float-breakpoint})";

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;

  &.navbar-is-static-top {
    margin-top: 0;
  }
  &.navbar-is-fixed-top {
    margin-top: ($navbar-height + ($grid-gutter-width / 2));
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: ($navbar-height + ($grid-gutter-width / 2));
  }

  @media #{$tablet} {
    margin-top: ($grid-gutter-width / 2);
  }
  @media #{$mobile} {
    &.toolbar-vertical {
      &.navbar-is-fixed-top,
      &.navbar-is-fixed-bottom {
        .toolbar-bar {
          position: fixed;
        }
        header {
          z-index: 500;
        }
      }
      // Default toolbar fixed height value.
      // @see core/modules/toolbar/css/toolbar.icons.theme.css@261
      &.navbar-is-fixed-top header {
        top: 39px;
      }
    }
  }
}
.navbar.container {
  @media #{$tablet} {
    max-width: (($container-sm - $grid-gutter-width));
  }
  @media #{$normal} {
    max-width: (($container-md - $grid-gutter-width));
  }
  @media #{$wide} {
    max-width: (($container-lg - $grid-gutter-width));
  }
}

#navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  
  .navbar-toggle {
    margin: 0;
  }
  .navbar-collapse {
    @include breakpoint(mobile) {
      position: absolute;
      z-index: 100;
      left: 0;
      margin-top: 20px;
      width: 100%;
      background: rgba(17, 17, 17, 0.96);
      text-transform: uppercase;
      font-size: 12px;
      
      #block-drupalam-main-menu {
        float: none;
        
        ul {
          li {
            a {
              display: block;
              padding: 15px 3%;
              border-bottom: 1px solid rgba(255, 255, 255, 0.07);
            }
          }
        }
      }
    }
  }
}

// Branding.
.navbar .logo {
  margin-right: -($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  margin-top: 0;
  margin-bottom: 0;
  @media #{$grid-breakpoint} {
    margin-right: 0;
    padding-left: 0;
  }
  
  img {
    width: 120px;
  }
}

// Main menu
#block-drupalam-main-menu {
  float: right;
  
  ul {
    li {
      a {
        @include transition(color 0.3s ease);
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        
        &:after {
          @include transition(all 0.2s ease);
          position: absolute;
          bottom: 5px;
          left: 50%;
          display: block;
          overflow: hidden;
          margin-left: 0px;
          width: 0px;
          height: 0px;
          background: $white;
          content: '-';
          text-indent: -999em;
          border-radius: 7px;
        }
        &:hover {
          &:after {
            bottom: 0;
            height: 2px;
            width: 40px;
            margin-left: -20px;
            margin-top: -2px; 
          }
        }
      }
    }
  }
}

// Social icons
#block-socialicons {
  text-align: right;
  
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    
    li {
      display: inline-block;
      padding: 2px 5px;
      @include transition(.3s);
      
      &:hover {
        transform: scale(1.1);
      }
      a {
        color: $white;
        font-size: 16px;
      }
    }
  }
}

