/**
 * Node styling.
 */

.node-preview-container {
  margin-top: -($grid-gutter-width / 2);
}

.node-preview-form-select {
  padding: ($grid-gutter-width / 2);
}

// Case Study
.node--type-case-study {
  &.node--view-mode-carousel,
  &.node--view-mode-slide {
    position: relative;
    background: $white;
    cursor: pointer;
    padding-bottom: 6px;
    
    .field--name-field-case-study-screens {
      position: relative;
      overflow: hidden;
      @include transition(opacity 0.1s ease);
      @include transition-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));
      background-color: $gray-base;
      
      img {
        @include transition(all 0.4s ease);
      }
      &:before {
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        padding: 10px;
        margin-top: -30px;
        margin-left: -30px;
        line-height: 40px;
        text-align: center;
        background: $brand-primary;
        border-radius: 3px;
        @include scale(2);
        @include opacity(0);
        @include transition(all 0.3s ease);
        z-index: 15;
      }
    }
    .field--name-node-title {
      h2 {
        padding: 15px 10px 0 10px;
        margin-bottom: 8px;
        color: $gray-base;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 1px;
        
        &:after {
          content: "";
          display: block;
          width: 60px;
          height: 2px;
          background-color: #5bc3ff;
          margin: auto;
          margin-top: 6px;
          margin-bottom: 6px;
        }
      }
    }
    .field--name-field-term-project-category,
    .field--name-field-term-industry {
      color: #b3b3b1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 10px;
    }
    .field--name-field-term-project-category {
      display: inline;
      
      &+ .field--name-field-term-industry {
        .hidden {
          display: inline !important;
        }
      }
    }
    &:hover {
      .field--name-field-case-study-screens {
        img {
          @include scale(1.1);
          @include opacity(0.6);
        }
        &:before {
          @include scale(1.2);
          @include opacity(1);
        }
      }
    }
  }

  &.node--view-mode-carousel {
    .field--name-field-case-study-screens,
    &:hover .field--name-field-case-study-screens {
      @include pexeto-icn("\f704", $white, 30px);
    }
  }

  &.node--view-mode-slide {
    .field--name-field-case-study-screens,
    &:hover .field--name-field-case-study-screens {
      @include pexeto-icn("\f703", $white, 30px);
    }

  }
}