{#
/**
 * @file
 * Default theme implementation for LinkedIn share button.
 *
 * Available variables:
 *  - url: The url of the page to be shared.
 *  - content: The button's image or other content to appear on the page. (default: image)
 *
 */
#}
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url | url_encode }}" target="_blank" >{{ content }}</a>
