{#
/**
 * @file
 * Default theme implementation for WhatsApp share button.
 *
 * Available variables:
 *  - url: The url of the page to be shared.
 *  - content: The button's image or other content to appear on the page. (default: image)
 *
 */
#}
<a href="whatsapp://send?text={{ url | url_encode }}" data-action="share/whatsapp/share">{{ content }}</a>
