.menu-about:before {
  background-image: url(../images/user.svg);
}

.menu-portfolio:before {
  background-image: url(../images/license.svg);
}

.menu-service:before {
  background-image: url(../images/screen.svg);
}

.menu-clients:before {
  background-image: url(../images/users.svg);
}

.menu-contact:before {
  background-image: url(../images/question-circle.svg);
}
