.language-switcher-language-url {
  .links {
    padding-left: 15px;
    li {
      display: inline-block;
      .language-link {
        display: block;
        height: 40px;
        width: 50px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        line-height: 0;
        font-size: 0;
        color: transparent;
      }
    }
    .en {
      .language-link {
        background-image: url("../images/UK-icon.png");
      }
    }
    .hy {
      .language-link {
        background-image: url("../images/AM-icon.png");
      }
    }

  }
}