//body font size
body {
  font-size: $size-font;
  color: $color-text;
  font-family: $body-font;
}

//== heading
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-title;
  font-weight: bold;
  font-family: $header-font;
}

h1 {
  font-size: $size-h1/2.5;
  @include breakpoint($normal) {
      font-size: $size-h1/1.5;
    }
    @include breakpoint($wide) {
      font-size: $size-h1;
    }
  margin: 20px 0;
}

h2 {
  font-size: $size-h2;
  margin: 0 0 20px 0;
  padding-top: 40px;
  &.block-title {
    font-size: $size-h1/2.2;
    color: $color-block-title;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    @include breakpoint($normal) {
      font-size: $size-h1/1.25;
    }
    @include breakpoint($wide) {
      font-size: calc(#{$size-h1} + 20px);
    }
  }
}
html[lang="hy"] h2.block-title {
  font-size: $size-h1/2.4;
  @include breakpoint($normal) {
    font-size: $size-h1/1.5;
  }
}

h3 {
  font-size: $size-h3;
}

h4 {
  font-size: $size-h4;
}

h5 {
  font-size: $size-h5;
  margin: 15px 0;
}

h6 {
  font-size: $size-h6;
  margin: 10px 0;
}

//== links
a,
a:hover,
a:visited,
a:focus {
  box-sizing: border-box;
  text-decoration: none;
  color: $color-link;
}

a:hover,
a:focus {
  color: $color-link-hover;
}

a:hover {
  text-decoration: underline;
}

//== paragraph
p {
  margin: 0 0 15px 0;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.6;
  em {
    font-weight: 300;
    font-size: 18px;
  }
}

//== lists
ul {
  list-style-position: inside;
}

ul,
ol {
  li {
    line-height: 1.4em;
  }
}

//== responsive img
img {
  max-width: 100%;
  height: auto;
}

.views-field-field-link,.field--name-field-link {
  a {
    @extend %submit-button;
  }
}

.node-readmore a {
  @extend %submit-button-second;
}

//simple custom block type
.path-frontpage {
  [id*="section"],
  #content,
  #helper {
    .simple-block,
    .region-helper {
      .block-title,
      .block-content {
        padding-left: gutter()*2;
        padding-right: gutter()*2;
        @include breakpoint($narrow) {
          padding-left: gutter();
          padding-right: gutter();
        }
        @include breakpoint($normal) {
          max-width: 500px;
          padding-right: 25px;
          padding-left: 25px;
        }
        @include breakpoint($wide) {
          max-width: 750px;
          padding-right: 233px;
          padding-left: calc(#{$big-menu-width} - #{$small-menu-width});
        }
      }
      .block-content {
        @include breakpoint($wide) {
          padding-left: calc(#{$big-menu-width} - #{$small-menu-width} + 10px);
          padding-right: 223px;
        }
        .field--name-field-subtitle {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 20px;
        }
        .field--name-body {
          margin-top: 30px;
          @include breakpoint($wide) {
            margin-top: 60px;
          }
          h3 {
            font-family: $roboto;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
          }
        }
        .field--name-field-link {
          margin-top: 60px;
          a {
            @extend %submit-button;
          }
        }
        @include breakpoint($wide) {
          .field--name-field-subtitle {
            font-size: 30px;
          }
          .field--name-body h3 {
            font-size: 30px;
          }
        }
      }
    }
  }
}

[id*="section"] {
  .simple-block {
    .block-title {
      @include breakpoint($normal) {
        padding-top: 40px;
      }
      @include breakpoint($wide) {
        padding-top: 100px;
      }
    }
    .block-content {
      padding-bottom: 50px;
      @include breakpoint($normal) {
        padding-bottom: 90px;
      }
    }
    @include breakpoint($wide) {
      &:first-child .block-content {
        padding-bottom: 60px;
      }
      &:last-child .block-content {
        padding-bottom: 200px;
      }
    }
  }
}
